.container {
  display: flex;
}
.vertical-container,
center-container {
  justify-content: center;
  width: 100%;
  height: 100%;
}
.horizontal-container,
center-container {
  align-items: center;
  height: 100%;
}
