* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Verdana", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../src/assets/fundal.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.container-login {
  width: 420px;
  background: white;
  box-shadow: -3px 4px 6px rgba(62, 56, 56, 0.1);
  border-radius: 40px;
  padding: 2rem 2rem;
}

.container-login h1 {
  color: #0281c8;
  text-align: center;
  font-size: 46px;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  margin-top: 1rem;
}

.container-login p {
  color: #5cc1f9;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 22px;
  line-height: 28px;
  word-wrap: break-word;
}

.container-login .forgot-password {
  color: #b3b3b3;
  text-align: center;
  padding: 1rem 0;
  font-size: 22px;
  line-height: 28px;
  word-wrap: break-word;
  cursor: pointer;
}

.container-login .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 48px 0;
  padding: 2px;
}

.container-login .input-box input {
  width: 100%;
  height: 100%;
  border: 2px #5cc1f9 solid;
  border-radius: 35px;
  background: white;
  text-align: center;
  padding-top: 0.2rem;
  font-size: 20px;
}

.container-login .input-box input::placeholder {
  color: #b3b3b3;
  font-size: 20px;
  word-wrap: break-word;
}

.container-login button {
  color: white;
  background-color: #5cc1f9;
  border-radius: 35px;
  border: none;
  padding: 0.8rem 3.2rem;
  font-size: 22px;
  margin-top: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

*,
*::before,
*::after {
  transition: all 0.3s ease;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-login {
    width: 380px;
    transition: width 0.5s ease;
  }
  .container-login h1 {
    font-size: 44px;
    line-height: 5px;
  }
  .container-login p,
  .container-login .forgot-password {
    font-size: 20px;
  }
  .container-login .input-box {
    height: 36px;
    margin: 40px 0;
  }

  .container-login .input-box input::placeholder {
    font-size: 17px;
  }

  .container-login button {
    padding: 0.8rem 2.8rem;
    font-size: 19px;
    margin-top: 0.4rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-login {
    width: 350px;
    transition: width 0.5s ease;
  }
  .container-login h1 {
    font-size: 38px;
    line-height: 2px;
  }
  .container-login p,
  .container-login .forgot-password {
    font-size: 18px;
  }
  .container-login .input-box {
    height: 34px;
    margin: 35px 0;
  }

  .container-login .input-box input::placeholder {
    font-size: 15px;
  }

  .container-login button {
    padding: 0.7rem 2.6rem;
    font-size: 16px;
    margin-top: 0.3rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-login {
    width: 300px;
    transition: width 0.5s ease;
  }
  .container-login h1 {
    font-size: 34px;
    line-height: 2px;
  }
  .container-login p,
  .container-login .forgot-password {
    font-size: 16px;
  }
  .container-login .input-box {
    height: 30px;
    margin: 35px 0;
  }

  .container-login .input-box input::placeholder {
    font-size: 13px;
  }

  .container-login button {
    padding: 0.7rem 2.4rem;
    font-size: 14px;
    margin-top: 0.2rem;
  }
}
