.landing-page-title {
  margin-top: 5rem;
  margin-left: 4rem;
  font-family: "Raleway";
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
.temporary-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.landing-page-subtitle {
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: "Raleway";
  font-size: 3rem;
  display: block;
  text-shadow: 0px 0px 2px #000000;
}
.get-started-button {
  background-color: #f8a404;
  border-radius: 8px;
  width: 17rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
  margin-left: 18rem;
}
.button-hyperlink {
  text-decoration: none;
  cursor: pointer;
}
.button-hyperlink:hover .get-started-button {
  background-color: #ffbb3d;
}
@media (max-width: 820px) {
  .landing-page-title {
    margin-left: 0;
    font-size: 3rem;
  }
  .landing-page-subtitle {
    margin-left: 0;
    font-size: 2rem;
  }
  .get-started-button {
    margin-left: 0;
  }
  .temporary-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .landing-page-subtitle {
    font-size: 1.5rem;
  }
}
