.filter-sidebar-container {
  width: 384px;
  height: 100%;
}

.filter-sidebar {
  position: relative;
  background-color: white;
  /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 0px 15px -3px rgba(31, 31, 31, 0.1);
}

.filters-container {
  flex: 1; /* Take up remaining space */
  padding: 32px;

  overflow-y: scroll;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #0281c8; /* Blue text */
}

.dropdown-container,
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}

.dropdown-container > div,
.input-container > div {
  margin-bottom: 20px;
}

.dropdown-container label,
.input-container label,
.toggle-container label {
  color: #0281c8; /* Blue text */
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.toggle-group {
  display: flex;
  flex-direction: column;
}

.toggle-group label {
  margin-bottom: 10px; /* Space between toggles */
}
.input-label {
  position: relative;
}
.search-button {
  background-color: #0281c8;
  color: #fff;
  border: 1px solid #0281c8; /* Blue border */
  border-radius: 99px;
  cursor: pointer;
  padding: 10px 20px;
  /* Push to bottom */
  margin: auto 32px 32px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0281c8;
  color: #fff; /* White text on hover */
}

.search-button:disabled {
  background-color: #ccc;
  cursor: default;
}

.input-container > div input[type="text"],
.input-container > div input[type="number"],
.input-container > div input[type="checkbox"] {
  outline: none;
  padding: 5px;
  border: 1px solid #0281c8; /* Blue border */
  border-radius: 3px;
}

.dropdown-container select {
  border: 1px solid #0281c8; /* Blue border */
  border-radius: 3px;
  padding: 5px;
}

.toggle-container label {
  display: flex;
  align-items: center;
  /*border: 1px solid #fff; /* Blue border */
  padding: 5px;
  border-radius: 5px;
}

.toggle-container input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label text */
  appearance: none; /* Remove default checkbox styling */
  width: 16px; /* Set checkbox width */
  height: 16px; /* Set checkbox height */
  border-radius: 50%; /* Set border-radius for round checkbox */
  background-color: #fff; /* White background for checkbox */
  border: 1px solid #0281c8; /* Blue border for checkbox */
  transition: background-color 0.3s ease;
}

.toggle-container input[type="checkbox"]:checked {
  background-color: #0281c8; /* Blue background for checked checkbox */
  border: 1px solid white;
}

.loading-page {
  position: absolute; /* Setăm poziția absolută pentru a putea ocupa întreaga secțiune a filters-container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Fundal semi-transparent */
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.dropdown {
  width: 256px;
  border-radius: 99px !important;
  text-align: center;
  color: #1b75b3;
  font-size: 16px;
  font-weight: 600;
}

.listItem {
  padding: 8px 16px;
  width: 100%;
  border: none;
  text-align: left;
  background-color: #ffffff;
}

.listItem:hover {
  background-color: #f0f0f0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
